.ant-picker {
    width: 100%;
}

.ant-form-item {
    margin-bottom: 0 !important;
}

/*Hide arrow button Chrome, Safari, Edge, Opera */
.input-phone input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
.input-phone input[type=number] {
    -moz-appearance: textfield;
}