/*global css here*/
.sticky-bar-top{
    position: sticky;
    top: 67px;
    background-color: #e2e4e9;
    width: 100%;
    height: 50px;
    z-index: 1;
    display: flex;
    align-items: center;
    padding: 0 10px;
}
.spacing-table {
    border-collapse: separate;
    border-spacing: 50px 10px;
    table-layout: fixed;
}
.spacing-table td {
    vertical-align: top;
}