.btnIcon {
    width: 30px;
    height: 30px;
    font-size: 20px;
}

.btnIcon:hover {
    cursor: pointer;
    font-size: 30px;
}

.red {
    color: rebeccapurple;
}

.row_color td{
    padding: 10px !important;
    color: #60a3bc ;
}
.row_color .ant-table-selection-column{
    padding: 0!important;
}
.row_color:hover {
    background-color: #d0d8fb;
}

.row_color:nth-child(odd) {
    background-color: #fafafa;
}

.table_common .ant-table-title {
    background-color: #e2e4e9;
}
.table_common .ant-table-body{
    min-height: 60vh;
    max-height: 60vh;
}