.bg-myRed{
  /* background-color: darkblue; */
  background-color:   #1976d2
  ;
  height: 42px;
}
.navbar .navbar-brand {
  max-width: 300px;
  margin: 0px 47px 0px 0;
}

.height-narbar {
  height : 67px;
}
.navbar-dark .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 0.55);
  color: aliceblue;
  font-size: 13px;
  font-family: Roboto,Arial,Helvetica,sans-serif;
  padding: 16px;
}
.icon-facebook {
  font-size: xx-large;
}
.icon-facebook1 {
  margin: 3px 30px 0 0;
}

.potential {
  font-family: "Roboto , san-serif";
}
.facebookbutton{
  display: flex;
  border:  rgba(255, 255, 255, 0);
  background-color: #0d6efd;
  font-family: "Roboto , san-serif";
  font-weight: 300;
  color: white;
  font-size: xx-large;
  margin: 3px 30px 0 0;
}
.facebookbutton1{
  border:  rgba(255, 255, 255, 0);
  font-family: "Roboto , san-serif";
  font-weight: 300;
  color: white;
  font-size: xx-large;
  margin: 3px 30px 0 0;
}
.facebookbutton2{
  border:  rgba(255, 255, 255, 0);
  background-color: #0d6efd;
  font-weight: 300;
  color: white;
  font-size: 10px;
  /* margin: 3px 30px 0 0; */
  margin: 0px 32px 8px 1110px
}
.setting-icon {
  font-size: 20px;
}
.setting-date {
  font-size: 15px;
}
.setting-icon1 {
  font-size: 20px;
  margin: 0px 7px 26px 0;
}
/* Customer */
.title-customer{
    font-size: 16px;
     font-weight: 550;
    font-family: Roboto,Arial,Helvetica,sans-serif;
    line-height: 1.42857143;
    color: #212121 ;
    margin: 0 0 0 -80px;
}
.backgroud-insert{
  background: #e2e4e9;
}
.them-customer{
  margin: 5px 0px 5px 0;
}
 /*Edit information*/
 .firstname {
   width: 300px;
 }

 .formselect{
  display: inline-block;
  width: 100%;
  padding: 3px 0px;
  margin: 0px 0;
}
.formsingle{
  padding: 3px 0px;
  margin: 0px 0;
}


.controll{
  width: 337px;
}
.controll1{
  width: 323px;
}
/* validate */
.error {
  color:#db2269;
  font-size: 0.925em;
  display: relative;
}
.required:after {
  content:" *";
  color: red;
}
