.background1{
    width: 1000px;
    height: 517px;
    margin-left: 190px;
    margin-top: 35px;
    
}
.titl {
    color: ghostwhite;
    text-align: center;
  }
.backgroundcolor{
    background-color: royalblue;
}