.distance{
    margin-bottom: 20px;
}

.background{
    background-color: ghostwhite;
    width: 50%;
}

.form-control{
    width: 90%;
}
.backgroundPerson {
    background-color: ghostwhite;
}
.backgroundPerson1 {
    /* background-color: azure; */
    height: 553px;
}
.buttonPro{
    margin: 0px 0px 0px 100px;
}
.text-person{
    text-align: center;
    margin-top : 35px;
}
.text-person-changepassword {
    text-align: center;
    margin-top : 295px;
}